{% extends 'base.html.twig' %}

{% block title %} Liste des étudiants {% endblock %}
{% block style %}

<link rel="stylesheet" href="C:\Users\RJIBA\ExamenTP\public\css\style.css">
<style>
    .highlight{
        color: red;
    }
    .tags{
        background-color: rgb(200, 218, 252) !important;
    }

    .edit{
        color:mediumseagreen ;
        text-decoration: underline;
    }
    .delete:hover{
        color: rgb(245, 151, 151);
        text-decoration: underline;
    }
    .edit:hover{
        color: rgb(184, 224, 3);
        text-decoration: underline;
    }
    .delete{
        color: rgb(255, 0, 0);
        text-decoration: underline;
    }

</style>


{% endblock %}

{% block body %}


<div class="example-wrapper">
    
    <h1>Liste des étudiants ✅</h1>
    <a href="/add"> ajouter un étudiant </a>
</div>
<br><br><br>

<table class=" striped" >
    <tr class="tags">
        <td>FirstName</td>
        <td>Name</td>
        <td>Section</td>
        <td>Action</td>
    </tr>
    {% for etudiant in etudiants %}
    <tr>
        <td onclick=changeColor(this)>{{ etudiant.nom}}</td>
        <td onclick=changeColor(this)>{{ etudiant.prenom}}</td>
        <td onclick=changeColor(this)>{{ etudiant.section.designation}}</td>
        <td>
            <a class="edit" href="{{ path('edit_etudiant',{id : etudiant.id}) }}">Edit</a>
            <br>
            <a class="delete" href="{{ path('delete_etudiant',{id : etudiant.id}) }}">delete</a>
        </td>
    </tr>
    {% endfor %}
</table>


<script>

    function changeColor (element){
        if (element.className !== "highlight" ) {
            element.className = "highlight";
        
        }
        else {
            element.className = "";
        }
        }
</script> 
{% endblock %}
